body {
    margin: 0% 23%;
    background-color: #f3f3f3;
    font-family: Verdana, Helvetica, Arial;
}

.title {
    text-align:center;
    font-size: 48px;
    color: #555;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bignumber-container {
    padding-top:20px;
    padding-bottom: 20px;
}

.bignumber-container .bignumber {
    text-align: center;
    font-size: 96px;
    font-weight: bold;
    text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    width: 200px;
    margin-left:auto;
    margin-right:auto;
    color: red;
    border: 1px solid #ddd;
}

.select-container {
    width: 150px;
    display: inline;
    margin-left: 250px;
}

.select-container #teams {float: left;}
.select-container #sprints  {float: left;}
.subtitle {
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #888;
}

.entries {
    margin: 20px auto 0px auto;
    padding: 20px;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #fcfcfc;
}

.entries td, .entries th {
    padding: 4px;
}

.entries .all {
    padding-top: 10px;
    white-space:pre;
}


input:required:invalid, input:focus:invalid {
    background-image: url(../images/invalid.png);
    background-position: right top;
    background-repeat: no-repeat;
}
input:required:valid {
    background-image: url(../images/valid.png);
    background-position: right top;
    background-repeat: no-repeat;
}